@import "../../styles/Styles.module.scss";

.container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.o{
  width: 100%;
  font-size: 1.1em;
  font-weight: 800;
  color: $roxo;
  margin-bottom: 20px;
}

.kr{
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  color: $cinza;
  margin-bottom: 10px;
  font-style: italic;
}

.item{
  width: 20px;
  margin-right: 10px;
}

.item__button{
  width: 20px;
  margin-right: 10px;
}

.container__button{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.button{
  font-size: 0.7em;
  font-weight: 800;
  display: flex;
  text-transform: uppercase;
  margin-top: 15px;
  align-items: center;
  color: $cinza;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px $cinza solid;
  transition: 200ms;
}

.button:hover{
  color: $branco;
  background-color: $roxo;
  border: 2px $roxo solid;
  transition: 200ms;
  transform: scale(1.05);
}