@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;800;900&display=swap');

$color1 : #021D3D;
$color2 : #30F3FF;
$color3 : #62B0D3;
$color4 : #A8D1E6;
$color5 : #6D868E;
$color6 : #E03859;
$color7 : #24FF8F;


html {
  font-family: 'Blinker', sans-serif;
}