@import "../../styles/Styles.module.scss";

.depoimentos{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.single__depoimento{
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: #fff;
}

.single__depoimento:hover .img{
  filter: drop-shadow(0 0 5px $color7);
}

.text:hover .quote__left{
  filter: drop-shadow(0 0 5px $color7);
}

.text:hover .quote__right{
  filter: drop-shadow(0 0 5px $color7);
}

.person{
  width: 20%;
  margin-right: 5%;
}

.data{
  width: 20%;
  text-align: left;
  margin-right: 5%;
}

.img{
  width: 100%;
  min-width: 150px;
  min-height: 150px;
  border: 3px $color7 solid;
  border-radius: 50%;
}

.social{
  width: 25px;
  height: 25px;
  color: $color3;
  transition: 1s;
}

.social:hover {
  filter: drop-shadow(0 0 5px $color3);
  transform: scale(1.2);
  transition: 1s;
}

.text{
  width: 50%;
  text-align: left;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

.text__margin{
  margin-left: 40px;
  margin-right: 40px;
}

.nome{
  font-size: 24px;
  font-weight: 600;
}

.cargo{
  font-size: 16px;
  text-transform: uppercase;
  color: $color7;

}

.empresa{
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.quote__left{
  width: 25px;
  height: 25px;
  color: $color7;
  margin-bottom: 10px;
}

.quote__right{
  width: 25px;
  height: 25px;
  color: $color7;
  margin-top: 10px;
  align-self: flex-end;
}

.arrow__right{
  width: 5%;
  text-align: right;
}

.arrow__left{
  width: 5%;
  text-align: left;
}

.arrow{
  width: 30px;
  height: 30px;
}

.arrow--active{
  color: $color3;
  transition: 1s;
}

.arrow--active:hover{
  transform: scale(1.1);
  transition: 1s;
  filter: drop-shadow(0 0 5px $color3);
}

.arrow--inactive{
  color: rgba($color: #fff, $alpha: 0.05);
}

.comments {
  position: absolute;
  width: 40px;
  height: 40px;
}