@import "../styles/Styles.module.scss";


.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu {
  width: 230px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.pages {
  width: calc(100% - 230px);
  min-height: 100vh;
}

.li {
  text-decoration: none;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  color: $color3;
}

.menu__icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}


nav a {
  font-size: 16px;
  text-decoration: none;
}

li {
  width: 100%;
  list-style: none;
  transition: 200ms;
}

li:hover {
  transform: scale(1.1);
  transition: 200ms;
  color: $color7;
  filter: drop-shadow(0 0 5px $color7);
}

li:hover .title {
  transition: 200ms;
}

li a {
  display: flex;
  align-items: center;
  color: $color2;
}

li a:hover {
  color: $color7;
}

.active{
  color: $color7;
}

.title {
  transition: 200ms;
  color: #fff;
}