@import "../styles/Styles.module.scss";


.section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

.container__menu{
  width: 230px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  
  @media screen and (max-width: 700px) {
    width: 100%;
    justify-content: center;
    min-height: 0;
    position: sticky;
    top: 0;
    background-color: $color1;
  }
}


.toggle {
  display: none;

  @media screen and (max-width: 700px) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    min-height: 60px;
    position: sticky;
    top: 0;
    background: linear-gradient(256.56deg, #04162b 10%, $color1 90%);
    box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.1);
  }
}

label {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  cursor: pointer;
  margin-right: 20px;
}

label span {
  background: #fff;
  border-radius: 10px;
  height: 4px;
  margin: 4px 0;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  width: 100%;
}


input[type="checkbox"] {
  display: none;
}


input[type="checkbox"]:checked~span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(7px, 8px)
}


input[type="checkbox"]:checked~span:nth-of-type(2) {

  transform-origin: top;
  transform: rotatez(-45deg)
}


input[type="checkbox"]:checked~span:nth-of-type(3) {

  transform-origin: bottom;
  width: 50%;
  transform: translate(12px, -8px) rotatez(45deg);
}



////////////////////////////////


.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.menu--hidden {

  min-height: calc(100vh);

  @media screen and (max-width: 700px) {
  display: none;
  visibility: hidden;
  height: 1px !important;
  }
}

.menu--active {
  min-height: calc(100vh - 80px);
}

.pages {
  width: calc(100% - 230px);
  min-height: 100vh;

  @media screen and (max-width: 700px) {
    width: 100%;
    min-height: calc(100vh - 80px);
  }
}

.li {
  text-decoration: none;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  color: $color3;
}

.menu__icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}


nav a {
  font-size: 16px;
  text-decoration: none;
}

li {
  width: 100%;
  list-style: none;
  transition: 200ms;
}

li:hover {
  transform: scale(1.1);
  transition: 200ms;
  color: $color7;
  filter: drop-shadow(0 0 5px $color7);
}

li:hover .title {
  transition: 200ms;
}

li a {
  display: flex;
  align-items: center;
  color: $color2;
}

li a:hover {
  color: $color7;
}

.active {
  color: $color7;
}

.title {
  transition: 200ms;
  color: #fff;
}