@import "../../styles/Styles.module.scss";

.container{
  width: 100%;
  margin-bottom: 40px;
  display: flex;

  @media screen and (max-width: 700px) {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}

.containerSkills{
  width: 100%;
}

.title{
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 600;
  width: 100%;

  @media screen and (max-width: 700px) {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.skill__div{
  width: 14%;
  transition: 1s;
  text-align: center;
  animation: dataTimeline 1s ease-out backwards;

  @media screen and (max-width: 700px) {
    width: 20%;
    margin-bottom: 20px;
  }
}

.skill__img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;

  @media screen and (max-width: 700px) {
    width: 50px;
    height: 50px;
    margin-bottom: 2px;
  }
}



.skill__title{
  font-size: 14px;
  font-weight: 600;
  color: rgba($color: $color2, $alpha: 0.3);
  width: 100%;
  text-align: center;

  @media screen and (max-width: 700px) {
    font-size: 12px;
    color: rgba($color: $color2, $alpha: 1);
  }
}

.skill__div:hover{
  transform: scale(1.2);
  transition: 1s;
  filter: drop-shadow(0 0 5px $color3);
}

.skill__div:hover .skill__title{
  color: rgba($color: $color2, $alpha: 1);
  // filter: drop-shadow(0 0 5px $color3);
}

@keyframes dataTimeline {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
